<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="QuestionDao" class="ru.otus.spring_2023_05.dao.QuestionDaoImpl">
        <property name="csvName" value="questions.csv">
        </property>
    </bean>

    <bean id="QuestionService" class="ru.otus.spring_2023_05.service.QuestionServiceImpl">
        <property name="dao" ref="QuestionDao">
        </property>


    </bean>

</beans>
